.poster {
    width: 150px;
    height: 245px;
    margin: 0 10px 10px;

    .poster-img {
        position: relative;

        width: 150px;
        height: 225px;
        overflow: hidden;

        cursor: pointer;
        transition: box-shadow 0.2s;

        .mask {
            z-index: 9999;
            display: flex;
            justify-content: center;
            align-items: center;

            width: 150px;
            height: 225px;

            .play-button {
                color: rgba(255, 255, 255, 0.7);
                font-size: 60px;
                z-index: 9999;
                opacity: 0;
                transition: color 0.2s;
            }

            .play-button:hover {
                color: #cc7b19;
            }
        }

        .mask.with-bg {
            background: radial-gradient(farthest-corner at 50% 50%, rgba(50, 50, 50, .5) 50%, #323232 100%);
        }

        .img {
            @include center();
            transition: opacity 0.2s;
        }

        &:hover {
            box-shadow: 0 0 0 2px #cc7b19;

            .img {
                opacity: 0.6;
            }

            .play-button {
                opacity: 1;
            }
        }
    }

    .poster-title {
        width: 150px;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        color: #000;
    }
}