.poster {
    margin: 8px 5px;

    .poster-img {
        position: relative;
        overflow: hidden;

        cursor: pointer;
        transition: box-shadow 0.2s;

        .mask {
            z-index: 10;

            .play-button {
                @include center();

                color: $--color-primary;
                font-size: 60px;
                z-index: 10;
                opacity: 0;
                transition: color 0.2s, opacity 0.2s;
            }

            .play-button:hover {
                color: $--color-active;
            }
        }

        .mask.with-bg {
            background: radial-gradient(farthest-corner at 50% 50%, rgba(50, 50, 50, .5) 50%, #323232 100%);
        }

        .img {
            @include center();
            transition: opacity 0.2s, width 0.2s, height 0.2s;
        }

        &:hover {
            box-shadow: 0 0 0 2px $--color-active;

            .img {
                opacity: 0.5;
            }

            .play-button {
                opacity: 1;
            }
        }
    }

    .poster-title {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        color: $--color-primary;
    }

    .poster-title:hover {
        text-decoration: underline;
        color: $--color-attractive;
    }
}