.poster {
    width: 150px;
    height: 245px;
    margin: 10px 10px 0 0;

    .poster-img {
        position: relative;

        width: 150px;
        height: 225px;
        overflow: hidden;

        cursor: pointer;
        transition: box-shadow 0.2s;

        .mask {
            z-index: 10;

            width: 150px;
            height: 225px;

            .play-button {
                @include center();

                color: rgba(255, 255, 255, 0.7);
                font-size: 60px;
                z-index: 10;
                opacity: 0;
                transition: color 0.2s, opacity 0.2s;
            }

            .play-button:hover {
                color: #cc7b19;
            }
        }

        .mask.with-bg {
            background: radial-gradient(farthest-corner at 50% 50%, rgba(50, 50, 50, .5) 50%, #323232 100%);
        }

        .img {
            @include center();
            transition: opacity 0.2s, width 0.2s, height 0.2s;
        }

        &:hover {
            box-shadow: 0 0 0 2px #cc7b19;

            .img {
                opacity: 0.5;
            }

            .play-button {
                opacity: 1;
            }
        }
    }

    .poster-title {
        width: 150px;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.7);
    }

    .poster-title:hover {
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.9);
    }
}