@import "./icon";
@import "./reset";
@import 'loaders.css/src/animations/ball-pulse-sync';

$themeColor: #1f2326;
$fontColor: rgba(255, 255, 255, 0.7);
$inputColor: rgba(255, 255, 255, 0.9);

body {
    background-color: $themeColor;
    overflow: hidden;
    user-select: none;
}

.header-wrapper {
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: $themeColor;
    color: $fontColor;

    .logo-name {
        font-size: 25px;
        margin-left: 22px;
    }

    .collapse {
        height: 64px;
        cursor: pointer;
        display: inline-block;
        border-right: 1px solid rgba(255, 255, 255, 0.3);

        .icon-zhedie {
            font-size: 25px;
            margin: 0 28px 0 7px;
        }

        &:hover .icon-zhedie {
            color: #e5a00d;
        }

    }

    .icon-config {
        cursor: pointer;
        font-size: 20px;
        margin-left: 28px;
    }

    .ant-input-search {
        width: 250px;
        border: none;
        color: #eee;
        background-color: rgba(255, 255, 255, 0.08);

        input {
            color: $inputColor;
            background: transparent;
            caret-color: $fontColor;

            &::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        .ant-input-suffix {
            svg {
                fill: $fontColor;
            }
        }
    }
}

.content-wrapper {
    .sider-con {
        color: white;
        background-color: $themeColor;

        .menu-item-name {
            margin-left: 20px;
        }
    }

    .content-con {
        overflow-x: hidden;
        height: calc(100vh - 60px);
        background-color: $themeColor;
        background: no-repeat url('~@/assets/image/background.png');
        background-size: cover;

        .top-bar {
            height: 40px;
            background: rgba(255, 255, 255, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;

            .sorter-dropdown {}
        }

        .movies-con {
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-right: -10px;
        }

        .movies-con>i {
            width: 150px;
            margin: 5px;
        }

        .loading {
            height: 50px;

            .elecodi-loader {
                margin: 0 auto;
                width: 42px;
            }

            .elecodi-loader>div {
                background-color: rgba(255, 255, 255, 0.4);
                width: 8px;
                height: 8px;
                margin: 3px;
            }

            .loader-hidden {
                display: none;
            }

            .loader-active {
                display: block;
            }

            .scroll-to-end {
                position: relative;
                color: rgba(255, 255, 255, 0.4);
                margin: 0 30px 50px 30px;
                text-align: center;
                display: none;
            }

            .scroll-to-end.show {
                display: block;
            }

            .scroll-to-end:before,
            .scroll-to-end:after {
                content: '';
                position: absolute;
                top: 52%;
                background: rgba(255, 255, 255, 0.2);
                width: 9%;
                height: 1px;
            }

            .scroll-to-end:before {
                left: 35%;
            }

            .scroll-to-end:after {
                right: 35%;
            }

        }

    }
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none
}

::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    border-style: solid;
    border-color: transparent
}

::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
    background-clip: padding-box;
    background-color: #fff;
    border-radius: 1em;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, .2);
    min-height: 28px;
    padding-top: 100;
    border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
    background-color: rgba(0, 0, 0, .4)
}

::-webkit-scrollbar-thumb:active {
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
    background-color: rgba(0, 0, 0, .5)
}

::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    border-width: 0;
}

::-webkit-scrollbar-track:hover {
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .05)
}

::-webkit-scrollbar-track:active {
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07);
    background-color: rgba(0, 0, 0, .05)
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}