@import "./icon";
@import "./reset";

$themeColor: #1f2326;
$fontColor: rgba(255, 255, 255, 0.7);
$inputColor: rgba(255, 255, 255, 0.9);

.header-wrapper {
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: $themeColor;
    color: $fontColor;

    .logo-name {
        font-size: 25px;
        margin-left: 22px;
    }

    .collapse {
        height: 64px;
        cursor: pointer;
        display: inline-block;
        border-right: 1px solid rgba(255, 255, 255, 0.5);

        .icon-zhedie {
            font-size: 25px;
            margin: 0 28px 0 7px;
        }
    }

    .icon-config {
        cursor: pointer;
        font-size: 20px;
        margin-left: 28px;
    }

    .ant-input-search {
        width: 250px;
        border: none;
        color: #eee;
        background-color: rgba(255, 255, 255, 0.08);

        input {
            color: $inputColor;
            background: transparent;
            caret-color: $fontColor;

            &::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
        }

        .ant-input-suffix {
            svg {
                fill: $fontColor;
            }
        }
    }
}

.content-wrapper {
    .sider-con {
        color: white;
        background-color: $themeColor;

        .menu-item-name {
            margin-left: 20px;
        }
    }

    .content-con {
        background: #fff;
        min-height: 360px;
    }
}

.movies-con {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, .3);
}

::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, .1);
}