body {
    overflow: hidden;
    user-select: none;
    background-color: $--color-theme;
}


/* antd 样式覆盖
   ========================================================================== */
#app {
    .ant-layout {
        height: 100vh;
        background-color: $--color-theme;
    }

    .ant-menu {
        background-color: $--color-theme;

        .ant-menu-item {
            font-size: 15px;
            margin-top: 0;

            span {
                transition: opacity .3s cubic-bezier(.645, .045, .355, 1), width .3s cubic-bezier(.645, .045, .355, 1)
            }
        }

        .ant-menu-item-selected {
            background-color: $--color-tranparent;
            box-shadow: inset 4px 0 0 0 $--color-active;

            :hover {
                color: $--color-attractive;
            }
        }
    }

    .ant-menu-inline-collapsed {
        span {
            opacity: 0;
            max-width: 0;
        }
    }

    .ant-layout.ant-layout-has-sider>.ant-layout-content {
        overflow-x: initial;
    }

    .ant-dropdown-trigger {
        color: $--color-dim;
    }

    .ant-dropdown-trigger.ant-dropdown-open {
        color: $--color-primary;
    }

}


/* ant-drawer
   ========================================================================== */
.ant-dropdown-menu {
    background: $--color-theme;
    border-radius: 3px;

    .ant-dropdown-menu-item-group-title {
        color: $--color-dim;
    }

    .ant-dropdown-menu-item {
        color: $--color-primary;

        &:hover {
            background-color: $--color-tranparent;
        }

        &.ant-dropdown-menu-item-selected {
            background-color: $--color-tranparent;
            box-shadow: inset 4px 0 0 0 $--color-active;
        }
    }

}


/* ant-drawer
   ========================================================================== */
.ant-drawer-content-wrapper {

    .ant-drawer-header,
    .ant-drawer-content {
        background: $--color-theme-lighter;
    }

    .ant-drawer-header {
        border-bottom: 1px solid $--color-dim;
    }

    .ant-drawer-title {
        color: $--color-primary;
    }

    .ant-form-item-label>label {
        color: $--color-primary;
    }
}



/* ant input
   ========================================================================== */
.ant-input {
    border: none;
    color: $--color-primary;
    background: transparent;
    caret-color: $--color-attractive;

    &::placeholder {
        color: $--color-dim;
    }
}

.ant-input:focus {
    border: none;
}

.ant-input-search,
.ant-form-item-control-input-content {
    border-radius: 2px;
    border: none !important;
    background-color: $--color-tranparent !important;
}

.ant-input-suffix {
    svg {
        fill: $--color-dim;
    }
}

.ant-input:focus,
.ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 1px $--color-dim;
}


/* ant button
   ========================================================================== */
.ant-btn {
    border: none;
    color: $--color-primary;
    background: $--color-tranparent;
}

.ant-btn:hover,
.ant-btn:focus {
    border: none;
    color: $--color-primary;
    background: $--color-tranparent;
    box-shadow: 0 0 0 1px $--color-dim;
}

.ant-btn-primary {
    border: none;
    color: $--color-primary;
    background: $--color-active;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
    border: none;
    background: $--color-active-lighter;
    box-shadow: none;
}