$themeColor: #1f2326;

#app {
    .ant-layout {
        height: 100vh;
    }

    .ant-menu {
        background-color: $themeColor;

        .ant-menu-item {
            font-size: 15px;
            margin-top: 0;

            span {
                transition: opacity .3s cubic-bezier(.645, .045, .355, 1), width .3s cubic-bezier(.645, .045, .355, 1)
            }
        }

        .ant-menu-item-selected {
            background-color: hsla(0, 0%, 100%, .07);
            box-shadow: inset 4px 0 0 0 #e5a00d;
            font-size: 15px;
            line-height: 40px;
            color: hsla(0, 0%, 100%, .75);
            transition: color .2s;

            :hover {
                color: #fff;
            }
        }
    }

    .ant-input-affix-wrapper-focused {
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
    }

    .ant-menu-inline-collapsed {
        span {
            opacity: 0;
            max-width: 0;
        }
    }
    .ant-layout.ant-layout-has-sider > .ant-layout-content {
        overflow-x: initial;
    }
}