/* 样式常量
========================================================================== */

$--color-theme: #1f2326;
$--color-theme-lighter: #252526;
$--color-active: #e5a00d;
$--color-active-lighter: #F3B328;
$--color-tranparent: rgba(50, 50, 50, 0.8);
$--color-tranparent-lighter: rgba(70, 70, 70, 0.8);
$--color-dimmer: rgba(255, 255, 255, 0.3);
$--color-dim: rgba(255, 255, 255, 0.5);
$--color-primary: rgba(255, 255, 255, 0.7);
$--color-attractive: rgba(255, 255, 255, 0.9);