/* 样式常量
========================================================================== */

$--color-theme: #1f2326;
$--color-active: #e5a00d;
$--color-tranparent: rgba(255, 255, 255, 0.08);
$--color-dimmer: rgba(255, 255, 255, 0.3);
$--color-dim: rgba(255, 255, 255, 0.5);
$--color-primary: rgba(255, 255, 255, 0.7);
$--color-attractive: rgba(255, 255, 255, 0.9);