.summary {
    flex: 1;
    user-select: text;
    margin-left: 60px;
    padding-bottom: 20px;
    color: $--color-attractive;

    .header {
        padding: 0 20px;

        .item {
            font-size: 15px;
            @include box-between;

            .title {
                font-size: 24px;
                font-weight: bold;
            }
        }

        .item-second {
            line-height: 30px;

            .year {
                color: $--color-dim;
            }
        }

        .item-third {
            margin-top: 4px;
            color: $--color-dim;

            .dot {
                margin: 0 5px;
                font-weight: bold;
                display: inline-block;
            }

            .rate {
                margin-left: 25px;
                padding: 0 8px;
                border-radius: 4px;
                white-space: nowrap;
                background-color: $--color-tranparent;
            }
        }
    }

    .divider {
        margin: 24px 0;
        height: 2px;
        background-color: $--color-dim;
    }

    .content {
        padding: 0 20px;

        .section {
            font-size: 15px;
            margin-bottom: 24px;

            .item>.label {
                font-size: 13px;
                display: inline-block;
                color: $--color-dim;
                width: 110px;
                margin-right: 10px;
            }

            .item>.value {
                font-weight: bold;
            }
        }

        .section.introduction {
            word-break: break-all;
            word-wrap: break-word;
        }
    }
}