.cast-con {
    .list {
        user-select: text;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        i {
            width: 152px;
        }

        .item {
            width: 152px;
            text-align: center;
            margin-bottom: 10px;
            font-weight: bold;

            .avatar {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: $--color-tranparent;
                margin: auto;
                margin-bottom: 10px;
                overflow: hidden;
                color: $--color-dimmer;
                font-size: 25px;
                line-height: 100px;
                cursor: pointer;
                background-size: cover;
                background-position: center;

                &:hover {
                    box-shadow: 0 0 0 2px $--color-active;
                }
            }

            .name {
                color: $--color-primary;
            }

            .role {
                color: $--color-dimmer;
            }
        }
    }
}